/*@import 'fonts.css';*/ /*do przemyślenia*/
@import url('../css/stylecheckbox.css');

/*--------------------------------------------------------------------------------*/
/*                                                                                */
/*  A D D   F O N T S                                                             */
/*                                                                                */
/*--------------------------------------------------------------------------------*/

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybolder';
    src: url('raleway-extrabold-webfont.woff2') format('woff2'),
         url('raleway-extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}


/*----------------------------------------------------- A D D   F O N T S - E N D */

*, *::before {
    box-sizing: border-box;
}

/*--------------------------------------------------------------------------------*/
/*                                                                                */
/*  H E A D E R   C S S                                                           */
/*                                                                                */
/*--------------------------------------------------------------------------------*/


.main_width {
    /*border: 1px solid red;*/ 
    margin: 0 auto;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header {
    padding: 10px 0; 
    background-color: #000;
} */

/* .--header-text {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing:  -1px;
    color: #fff;
} */

/* h1 {
    text-transform: uppercase;
} */

/* h1 span {
    font-weight: bolder;
    color: #24BA9F;
} */

/* .nav ul {
    display: flex;
    flex-direction: row;
}

.nav__list__link {
    color: #fff;
    padding-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
} */

/* D R O P D O W N -------------------------------------------------------------- */

/* .nav__list__item {
    position: relative;
} */

/* .dropdown__link {
    color: #fff;
    text-decoration: none;
} */

/* .nav__list__item .dropdown__list {
    width: 120px;
    height: 96px;
    background-color: #000;
    padding: 15px;
    top: 38px;
    left: 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    display: none; 
} */
/* 
.dropdown__list::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #000;
    position: absolute;
    transform: translate(calc(50% + 20px), -100%) rotate(45deg);
}

.dropdown__list::after {
    content: '';
    width: 121px;
    height: 30px;
    position: absolute;
    transform: translate(-16px, -41px)
} */

/* .nav__list__item:hover .dropdown__list {
    display: flex;
    flex-direction: column;
} */


/*-------------------------------------------------- H E A D E R   C S S  - E N D */


/*--------------------------------------------------------------------------------*/
/*                                                                                */
/* F I R S T   S E C T I O N                                                      */
/*                                                                                */
/*--------------------------------------------------------------------------------*/

section:first-of-type {
    background: linear-gradient(to bottom, #f9f9f9 0%,#fcfcfc 0%,#f8f8f8 0%,#fafafa 1%,#fafafa 8%,#f8f8f8 8%,#f7f7f7 45%,#f5f5f5 45%,#f5f5f5 54%,#f3f3f3 55%,#f3f3f3 58%,#f1f1f1 59%,#f1f1f3 63%,#eeeef0 64%,#eeeef0 66%,#eaeaec 69%,#ebebed 70%,#e7e7e9 72%,#e6e5ea 75%,#e2e1e6 77%,#e1e0e5 80%,#dddce1 82%,#dedde3 83%,#dbdae0 84%,#dbdae0 86%,#d7d6dc 89%,#d8d7dd 89%,#d5d4da 91%,#d6d5db 91%,#d4d3d9 92%,#d5d4dc 93%,#d2d1d9 94%,#d3d2da 95%,#d0cfd7 97%,#d1d0d8 99%,#cacdd4 100%);
    padding: 73px 0 0 0;
}

.article__1 { 
    width: 1050px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

/* .article__1__img {
    width: 100%;
    height: 430px;
    padding-right: 40px;
    background-image: url('../images/black_chair.png');
    background-size: cover;
    transform: translate(-80px, 0);
    z-index: 1;
} */

/* .article__1__content {
    width: 100%;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
} */

.article__1__content * {
    padding: 0 0 30px 0;
    transform: translate(-6px, -23px);
    z-index: 1;
}

h2 {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 39px;
    color: #000;
    text-transform: uppercase;
    z-index: 1;
}

h2 span {
    font-weight: bolder;
    color: #24BA9F;
    z-index: 1;
}

.article__1__content p {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 13px;
    color: #000;
    text-align: center;
    line-height:22px;
    z-index: 1;
}

.article__1__content a {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 264px;
    height: 52px;
    border-radius: 10px;
    background-color: #24BA9F;
    padding: 14px 0 0 14px;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 1;
}

/* .article__1__back {
    width: 80px;
    height: 40px;
    border-left: 5px solid #24BA9F;
    border-bottom: 5px solid #24BA9F;
    transform: translate(10px, calc(216px - 100%)) rotate(45deg);
    position: relative;
    z-index: 2;
}

.article__1__next {
    width: 80px;
    height: 40px;
    border-right: 5px solid #24BA9F;
    border-top: 5px solid #24BA9F;
    transform: translate(-10px, calc(216px - 100%)) rotate(45deg);
    position: relative;
    z-index: 2;
} */

/*-------------------------------------------- F I R S T   S E C T I O N  - E N D */


/*--------------------------------------------------------------------------------*/
/*                                                                                */
/* S E C O N D   S E C T I O N                                                    */
/*                                                                                */
/*--------------------------------------------------------------------------------*/

.section__2 .main_width {
    padding: 27px 0 69px 0;
    display: flex;
    justify-content: space-between;
}

.main_width .section__2__item {
    height: 254px;
    width: 32%; 
}

.main_width .section__2__item:first-child {

    background-image: url('../images/box1_img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.main_width .section__2__item:nth-child(2){

    background-image: url('../images/box2_img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.main_width .section__2__item:first-child .section__2__desc,
.main_width .section__2__item:nth-child(2) .section__2__desc  {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: -0.03em;
    text-decoration: none;
    padding: 15px 0 0 15px;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    bottom: calc(107px - 100%);
    
}

.main_width .section__2__item:first-child .section__2__underline,
.main_width .section__2__item:nth-child(2) .section__2__underline {
    width: 137px;
    height: 7px;
    background-color: #24BA9F;
    position: relative;
    bottom: calc(136px - 100%);
    left: 15px;
}

.main_width .section__2__item:nth-child(3) .section__2__desc{
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: -0.03em;
    line-height: 0px;
    color: #000;
    text-decoration: none;
    padding: 35px 0 0 24px;
    position: relative;
}

.main_width .section__2__item:nth-child(3) .section__2__underline {
    width: 137px;
    height: 7px;
    background-color: #24BA9F;
    position: relative;
    bottom: -10px;
    left: 24px;
}

.main_width .section__2__item:nth-child(3) p {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: -0.03em;
    position: relative;
 
    left: 22px;
    line-height: 21px;
    padding: 24px 45px 0 0;
}

.section__2__item:nth-child(3) {
    border: 1px solid #aaaaaa;
}

/*------------------------------------------ S E C O N D   S E C T I O N  - E N D */


/*--------------------------------------------------------------------------------*/
/*                                                                                */
/* T H I R D   S E C T I O N                                                      */
/*                                                                                */
/*--------------------------------------------------------------------------------*/


section.section__3 {
    padding: 42px 0 70px 0;
    background-color: #f1f1f1;
}

.section__3 p {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: -0.03em;
}

.main_width .section__3__title .section__3__underline {
    width: 320px;
    height: 7px;
    background-color: #24BA9F;
    position: relative;
    bottom: -4px;
}

.section__3 .main_width:nth-child(2) .section__3__item {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.section__3__column {
    margin: 75px 0 0 0;
    padding: 0 0 0 0;
    width: 31%;
    
    border: 2px solid #aaaaaa;
    

}

.section__3__column .section__3__column__circle {
    width: 50px;
    height: 50px;
    border: 10px solid #f1f1f1;;
    background-color:  #aaaaaa;
    box-shadow: 0 0 0 1px #aaaaaa;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-65%);
}

.section__3__column h3 {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #24BA9F;
    transform: translateY(-65%);
}

.section__3__column div {
    height: 130px;
    width: 130px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
    transform: translateX(75%) translateY(5%);
}

.section__3__column div p:nth-child(1) {
    font-family: 'raleway', sans-serif;
    color: #aaaaaa;
    font-size: 42px;
    font-weight: 800;
    transform: translateY(60%);
}

.section__3__column div p:nth-child(2) {
    font-family: 'raleway', sans-serif;
    color: #aaaaaa;
    font-size: 16px;
    font-weight: 860;
    transform: translateX(25%) translateY(-100%);
}
.section__3__column div p:nth-child(3) {
    font-family: 'raleway', sans-serif;
    color: #aaaaaa;
    font-size: 17px;
    font-weight: 800;
    transform: translateX(0%) translateY(100%);
}

.section__3__column:nth-child(2) {
    background-color:  #24BA9F;
    border: 2px solid #24BA9F;
}


.section__3__column:nth-child(2) .section__3__column__circle {
    width: 50px;
    height: 50px;
    border: 10px solid #24BA9F;;
    background-color:  #f1f1f1;
    box-shadow: 0 0 0 1px #24BA9F;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-65%);
}

.section__3__column:nth-child(2) h3 {
    color: #f1f1f1;
}

.section__3__column:nth-child(2) div {
    height: 130px;
    width: 130px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #24BA9F;
    border-radius: 50%;
    transform: translateX(75%) translateY(5%);
}

.section__3__column:nth-child(2) div p:nth-child(1) {
    font-family: 'raleway', sans-serif;
    color: #24BA9F;
    font-size: 42px;
    font-weight: 800;
    transform: translateY(60%);
}

.section__3__column:nth-child(2) div p:nth-child(2) {
    font-family: 'raleway', sans-serif;
    color: #24BA9F;
    font-size: 16px;
    font-weight: 860;
    transform: translateX(25%) translateY(-100%);
}
.section__3__column:nth-child(2) div p:nth-child(3) {
    font-family: 'raleway', sans-serif;
    color: #24BA9F;
    font-size: 17px;
    font-weight: 800;
    transform: translateX(0%) translateY(100%);
}
.section__3__column ul {
    padding: 40px 0 20px 0;
}

.section__3__column ul li {
    font-family: 'raleway', sans-serif;
    font-size: 22px;
    color: #b4b4b4;
    line-height: 45px;
    text-align: center
}

.section__3__column ul li:nth-child(2n+1) {
    background-color:  #e4e4e4;
}

.section__3__column ul li:nth-child(2n) {
    background-color:  #f1f1f1;
}

.section__3__column:nth-child(2n+1) {
    display: flex;
    flex-direction: column;
}

.section__3__column:nth-child(2n+1) a {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 122px;
    height: 34px;
    border-radius: 10px;
    background-color: #24BA9F;
    padding: 7px 0 0 28px;
    align-self: center;

    margin: auto 0 20px 0;
 
}

.section__3__column:nth-child(2n) {
    display: flex;
    flex-direction: column;
}

.section__3__column:nth-child(2n) a {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #24BA9F;
    width: 122px;
    height: 34px;
    border-radius: 10px;
    background-color: #fff;
    padding: 7px 0 0 28px;
    align-self: center;

    margin: auto 0 20px 0;
 
}

/*-------------------------------------------- T H I R D   S E C T I O N  - E N D */

/*--------------------------------------------------------------------------------*/
/*                                                                                */
/* F O U R T H  S E C T I O N                                                     */
/*                                                                                */
/*--------------------------------------------------------------------------------*/

section.section__4 {
    padding: 25px 0 70px 0;
    background-color: #ffffff;
}

.section__4 .main_width:first-child {
    padding: 0 0 23px 0;  
    /*display: flex;
    flex-direction: column;*/
}

.section__4 p {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 23px;
    letter-spacing: -0.03em;
}

.main_width .section__4__title .section__4__underline {
    width: 320px;
    height: 7px;
    background-color: #24BA9F;
    position: relative;
    bottom: -4px;
}
 
.section__4 .main_width:last-child .section__4__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .section__4 .main_width:first-child div {
    transform: translateX(2px);
 }
 
 .section__4 .main_width .section__4__column:first-child {
    width: 61%;
 }

 .section__4 .main_width .section__4__column:last-child {
    width: 37%;
    transform: translateX(55px);
 }

.action p input {
    border: 1px solid #24BA9F;
    margin: 27px 0 0 0;
    width: 100%;
    
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 34px;
    letter-spacing: -0.03em;
    text-indent: 0.5em;
    line-height: 62px;
}

.action p textarea {
    border: 1px solid #24BA9F;
    margin: 27px 0 0 0;
    width: 100%;
    height: 185px;
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 34px;
    letter-spacing: -0.03em;
    text-indent: 0.5em;
    line-height: 62px;
    resize: none;
}


 .section__4 .main_width .section__4__column:last-child .section__4__img {
    height: 205px;
    background-image: url('../images/red_chair.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.section__4 .checkbox * {
    transform: translateX(-19px) translateY(7px);
}

.section__4 .checkbox label {
    font-family: 'raleway', sans-serif;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -0.03em;
    padding-top: 0;
}
 
.section__4 .main_width .section__4__item .section__4__column a {
    font-family: 'raleway', sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    background-color: #24BA9F;
    padding: 17px 113px;
    align-self: center;
    position: absolute;
    margin: auto 0 20px 0;
    transform: translateY(14px) translateX(-21px);
}


/*------------------------------------------ F O U R T H   S E C T I O N  - E N D */


/*--------------------------------------------------------------------------------*/
/*                                                                                */
/* F O O T E R  S E C T I O N                                                     */
/*                                                                                */
/*--------------------------------------------------------------------------------*/

.footer .main_width {
    padding: 5px 0;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
}

.footer .main_width div:nth-child(1) {
    width: 65%;
}

.footer .main_width div:nth-child(2){
    flex: 1;
}

.footer .main_width div:nth-child(3){
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

    /* copyright */

.footer p {
    font-family: 'raleway', sans-serif;
    color: gray;
    font-weight: 500;
    letter-spacing: 0.025em;
    font-size: 17px;
}

    /* ikony społecznościwe */

.footer__list {
    padding: 0 10px;
    display: flex;
}

.footer__list li {
    height: 35px;
    width: 35px;
    background-size: contain;
    margin: 0 auto;
}

.footer__list li:nth-child(1) {
    background-image: url(../images/flickr.png);
}

.footer__list li:nth-child(2) {
    background-image: url(../images/vimeo.png);
}

.footer__list li:nth-child(3) {
    background-image: url(../images/pinterest.png);}

.footer__list li:nth-child(4) {
    background-image: url(../images/twitter.png);
}

    /* logo */

.footer p.logo {
    font-size: 20px;
}

.footer p.logo span {
    font-weight: bolder;
}

/*------------------------------------------- F O O T E R  S E C T I O N  - E N D */
