
/* podstawowe zmienne */

// margines i padding

$main-margin: 10px;
$main-padding: 10px;

// zdjęcia z slidera

$image-black-chair: url('../images/black_chair.png');
$image-orange-chair: url('../images/orange_chair.png');
$image-red-chair: url('../images/red_chair.png');
