//--------------------------------------------------------------------------------//
//                                                                                //
// V A R I A B L E S                                                              //
//                                                                                //
//--------------------------------------------------------------------------------//

// margin & padding

$main-margin: 10px;
$main-padding: 10px;

// czcionka

$main-font-family: 'raleway', sans-serif;
$main-font-size: 14px;

// slider images

$image-black-chair: url('../images/black_chair.png');
$image-orange-chair: url('../images/orange_chair.png');
$image-red-chair: url('../images/red_chair.png');

// products images

$image-clair-chair: url('../images/box1_img.jpg');
$image-margarita-chair: url('../images/box2_img.jpg');

// social icons

$image-flickr: url(../images/flickr.png);
$image-vimeo: url(../images/vimeo.png);
$image-pinterest: url(../images/pinterest.png);
$image-twitter: url(../images/twitter.png);
