
body {
    font-family: $main-font-family;
}

/* podstawowy kontener dla każdej sekcji */

.container {
    // border: 1px solid red;
    margin: 0 auto;
    width: 1070px;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}