/*--------------------------------------------------------------------------------*/
/*                                                                                */
/* B A S E                                                                        */
/*                                                                                */
/*--------------------------------------------------------------------------------*/

body {
    font-family: $main-font-family;
}

/* podstawowy kontener dla każdej sekcji */

.container {
    // border: 1px solid red;
    margin: 0 auto;
    width: 1070px;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.animation {
    animation: disappearance 1s 0s 1 linear alternate;
}

.animation-revers {
    animation: disappearance 1s 0s 1 linear alternate-reverse;
}

@keyframes disappearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}