/*--------------------------------------------------------------------------------*/
/*                                                                                */
/*  H E A D E R   S C S S                                                         */
/*                                                                                */
/*--------------------------------------------------------------------------------*/

header {

    padding: $main-padding 0; 
    background-color: $color-background-header;

    .logo {
        padding-left: 0.7rem;
        font-weight: 400;
        font-size: $main-font-size;

        letter-spacing: 0.04rem;
        word-spacing:  -0.05rem;
        color: $color-font-primary-light;
        span {
            font-weight: 1000;
            color: $color-font-secondary;
        }
    }

    a {
        font-size: 0.9rem;
        color: $color-font-primary-light;
        &:hover {
            color: $color-font-secondary;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        li {
            position: relative;
            font-weight: 600;
            padding-left: 2.7rem;
            padding-right: 0.2rem;
            &:hover .dropdown {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                letter-spacing: 0.08rem;
            }

        }
    }
}

.navigation {    
    ul.dropdown {
        width: 120px;
        height: 96px;
        background-color: $color-background-header;
        padding: $main-padding;
        top: 38px;
        left: 27px;
        position: absolute;
    
        display: none; 
        li {
            padding: 0;
            font-weight: 400;
        }
    }
    
    .dropdown::before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: $color-background-header;
        position: absolute;
        transform-origin: 50% 50%;
        transform: translate(400%,-150%) scale(1.3) rotate(45deg);
    }
    
    .dropdown::after {
        content: '';
        width: 120px;
        height: 20px;
        position: absolute;
        transform: translate(-10px, -30px);
    }

}


